body {
    background-color: #FFFFFF;
    color: #757575;
}
/* цвет основного текста #212121*/

/* вторичный цвет текста #757575*/

/* цвет текста имейла #2196F3*/

/* цвет главного заголовка #FFFFFF*/

/* цвет лого #2196F3 #000000*/
.logo {
    color: #2196F3 #000000*;

}